<h2>CHATTER BOX</h2>
<div id="chat-box"></div>

<form id="chat-form">
  <input type="text" placeholder="Name" id="user-name"></input>
  <textarea placeholder="Message" id="user-msg"></textarea>
  <button type="submit">SAY IT!</button>
</form>
